<section class="htc__popular__product pb--130 bg__white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section__title section__title--2 text-center">
          <h2 class="title__line">Popular Products</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod temp incididunt ut labore et dolore magna aliqua. </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="popular__product__wrap clearfix owl-carousel owl-theme owl-loaded owl-drag">
        <!-- Start Single Popular Product -->

        <!-- End Single Popular Product -->
        <!-- Start Single Popular Product -->

        <!-- End Single Popular Product -->
        <!-- Start Single Popular Product -->

        <!-- End Single Popular Product -->
        <!-- Start Single Popular Product -->

        <!-- End Single Popular Product -->
        <!-- Start Single Popular Product -->

        <!-- End Single Popular Product -->
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-800px, 0px, 0px); transition: all 0.25s ease 0s; width: 4400px;"><div class="owl-item cloned" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/3.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/1.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned active" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/2.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/1.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item active" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/2.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/3.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/1.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/2.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/1.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/2.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div><div class="owl-item cloned" style="width: 400px;"><div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
          <div class="product">
            <div class="product__inner">
              <div class="pro__thumb">
                <a href="#">
                  <img src="assets/images/product/3.jpg" alt="product images">
                </a>
              </div>
              <div class="product__hover__info">
                <ul class="product__action">
                  <li><a data-toggle="modal" data-target="#productModal" title="Quick View" class="quick-view modal-view detail-link" href="#"><span class="ti-plus"></span></a></li>
                  <li><a title="Add To Cart" href="cart.html"><span class="ti-shopping-cart"></span></a></li>
                </ul>
              </div>
              <div class="add__to__wishlist">
                <a data-toggle="tooltip" title="" class="add-to-cart" href="wishlist.html" data-original-title="Add To Wishlist"><span class="ti-heart"></span></a>
              </div>
            </div>
            <div class="product__details">
              <h2><a href="product-details.html">Simple Black Clock</a></h2>
              <span class="popular__pro__prize">$16.00</span>
            </div>
          </div>
        </div></div></div></div><div class="owl-nav"><div class="owl-prev"><i class="zmdi zmdi-chevron-left"></i></div><div class="owl-next"><i class="zmdi zmdi-chevron-right"></i></div></div><div class="owl-dots disabled"></div></div>
    </div>
  </div>
</section>
