<!--&lt;!&ndash; Start Slider Area &ndash;&gt;-->
<!--<div >-->
  <!--<div class="slider__activation__wrap owl-carousel owl-theme">-->
    <!--&lt;!&ndash; Start Single Slide &ndash;&gt;-->
    <!--&lt;!&ndash;<div class="slide slider__full&#45;&#45;screen" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/1.png) no-repeat scroll center center / cover ;">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="slider__inner">&ndash;&gt;-->
              <!--&lt;!&ndash;<h1>New Product <span class="text&#45;&#45;theme">Collection</span></h1>&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="slider__btn">&ndash;&gt;-->
                <!--&lt;!&ndash;<a class="htc__btn" href="cart.html">shop now</a>&ndash;&gt;-->
              <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--<div class="slider__full&#45;&#45;screen" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/1.png)  no-repeat scroll center center / cover ;">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-12">-->
            <!--<div class="slider__content&#45;&#45;2 text-center">-->
              <!--<div class="slider__inner&#45;&#45;2 text-center">-->
                <!--<h1>Nueva Colección para ELLA</h1>-->
                <!--<div class="slider__btn">-->
                  <!--<a class="htc__btn" href="cart.html">comprar ahora</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; End Single Slide &ndash;&gt;-->
    <!--&lt;!&ndash; Start Single Slide &ndash;&gt;-->
    <!--<div class="slide slider__full&#45;&#45;screen" style="background: rgba(0, 0, 0, 0) url(assets/images/slider/bg/2.png) no-repeat scroll center center / cover ;">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-xs-12">-->
            <!--<div class="slider__content&#45;&#45;2 text-center">-->
              <!--<div class="slider__inner&#45;&#45;2 text-center">-->
                <!--<h1>Nueva Colección para EL</h1>-->
                <!--<div class="slider__btn">-->
                  <!--<a class="htc__btn" href="cart.html">comprar ahora</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; End Single Slide &ndash;&gt;-->
  <!--</div>-->
<!--</div>-->
