<style>
  <!--.example-form {-->
    <!--min-width: 150px;-->
    <!--max-width: 500px;-->
    <!--width: 100%;-->
    <!--padding-top: 30px;-->
  <!--}-->

  .full {
    width: 72%;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .example-radio-button {
    margin: 5px;
  }

  .example-selected-value {
    margin: 15px 0;
  }
  @media screen and (min-width: 992px)  {
    .boxes1 {
      position:relative;
      float:left;
      left:70%
    }
    .boxes2 {
      position:relative;
      float:left;
      left:-30%
    }
  }

  @media screen and (min-width: 505px) and (max-width: 991px)  {
    .boxes1 {
      position:relative;
      float:left;
      left:23%
    }
    .boxes2 {
      position:relative;
      float:left;
      left:23%
    }
  }

  /*@media screen and (max-width: 504px)   {*/
    /*.boxes1 {*/
      /*position:relative;*/
      /*float:left;*/
      /*left:23%*/
    /*}*/
    /*.boxes2 {*/
      /*position:relative;*/
      /*float:left;*/
      /*left:23%*/
    /*}*/
  /*}*/
</style>

<section class="our-checkout-area ptb--120 bg__white">
  <div class="container">

     <!-- INICIA CHECKOUT-->
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4 boxes1" id="blockpedido">
        <h2 class="section-title-3">Detalles de pedido</h2>
        <div class="shopping__cart__inner">

          <!--<div class="offsetmenu__close__btn">-->
            <!--<a href="#"><i class="zmdi zmdi-close"></i></a>-->
          <!--</div>-->
          <div class="shp__cart__wrap">
            <div class="shp__single__product">
              <div class="shp__pro__thumb">
                <a href="#">
                  <img src="images/product/sm-img/1.jpg" alt="product images">
                </a>
              </div>
              <div class="shp__pro__details">
                <h2><a href="product-details.html">BO&amp;Play Wireless Speaker</a></h2>
                <span class="quantity">QTY: 1</span>
                <span class="shp__price">$105.00</span>
              </div>
              <div class="remove__btn">
                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
              </div>
            </div>
            <div class="shp__single__product">
              <div class="shp__pro__thumb">
                <a href="#">
                  <img src="images/product/sm-img/2.jpg" alt="product images">
                </a>
              </div>
              <div class="shp__pro__details">
                <h2><a href="product-details.html">Brone Candle</a></h2>
                <span class="quantity">QTY: 1</span>
                <span class="shp__price">$25.00</span>
              </div>
              <div class="remove__btn">
                <a href="#" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
              </div>
            </div>
          </div>
          <ul class="shoping__total">
            <li class="subtotal">Subtotal:</li>
            <li class="total__price">$130.00</li>
          </ul>
          <ul class="shopping__btn">
            <li><a href="cart.html">View Cart</a></li>
            <li class="shp__checkout"><a href="checkout.html">Checkout</a></li>
          </ul>
        </div>

      </div>
      <div class="col-md-8 order-md-1 boxes2" id="blockPayments">
        <h2 class="section-title-3">Detalles de envio</h2>
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <!--<label for="firstName">First name</label>-->
              <mat-form-field  style="width:100%">
                <input matInput placeholder="Nombres" >
              </mat-form-field>
              <!--<div class="invalid-feedback">-->
                <!--Valid first name is required.-->
              <!--</div>-->
            </div>
            <div class="col-md-6 mb-3">
              <mat-form-field  style="width:100%">
                <input matInput placeholder="Apellidos" >
              </mat-form-field>
            </div>
          </div>

          <div class="mb-3">
            <mat-form-field  style="width:100%">
              <input matInput placeholder="Email" >
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field  style="width:100%">
              <input matInput placeholder="Calle principal - #Casa" >
            </mat-form-field>
          </div>

          <div class="mb-3">
            <mat-form-field  style="width:100%">
              <input matInput placeholder="Calle secundaria" >
            </mat-form-field>
          </div>

          <div class="row">
            <!--<div class="col-md-5 mb-3">-->
              <!--<label for="country">Country</label>-->
              <!--<select class="custom-select d-block w-100" id="country" required="">-->
                <!--<option value="">Choose...</option>-->
                <!--<option>United States</option>-->
              <!--</select>-->
              <!--<div class="invalid-feedback">-->
                <!--Please select a valid country.-->
              <!--</div>-->
            <!--</div>-->
            <div class="col-md-4 mb-3">
              <!--<label for="state">Provincia</label>-->
              <mat-form-field>
                <mat-select placeholder="Provincia"  name="food">
                  <mat-option>seleccione</mat-option>
                  <mat-option *ngFor="let prov of provincia" [value]="prov.id">
                    {{prov.provincia}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <!--<label for="state">Provincia</label>-->
              <mat-form-field>
                <mat-select placeholder="Canton"  name="food">
                  <mat-option>seleccione</mat-option>
                  <mat-option *ngFor="let prov of provincia" [value]="prov.id">
                    {{prov.provincia}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4 mb-3">
              <!--<label for="state">Provincia</label>-->
              <mat-form-field>
                <mat-select placeholder="Parroquia"  name="food">
                  <mat-option>seleccione</mat-option>
                  <mat-option *ngFor="let prov of provincia" [value]="prov.id">
                    {{prov.provincia}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <hr class="mb-4">
          <!--<div class="custom-control custom-checkbox">-->
            <!--<mat-checkbox> La dirección de envío es la misma que mi dirección de facturación</mat-checkbox>-->
            <!--&lt;!&ndash;<label class="custom-control-label" for="same-address"></label>&ndash;&gt;-->
          <!--</div>-->
          <!--<div class="custom-control custom-checkbox">-->
            <!--<mat-checkbox> Guarda esta información para la próxima vez</mat-checkbox>-->
          <!--</div>-->
          <!--<hr class="mb-4">-->

          <h4 class="mb-3">PAGO </h4>

          <div class="d-block my-3">
            <mat-radio-group class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let season of seasons" [value]="season">
              {{season}}
            </mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <mat-form-field  style="width:100%">
                <input matInput placeholder="Nombre de tarjeta" >
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-3">
              <mat-form-field  style="width:100%">
                <input matInput placeholder="Número de tarjeta" >
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="state">Expiración</label>
              <br/>
              <mat-form-field style="width: 50%">
                <mat-select placeholder="Mes"  name="food">
                  <mat-option>seleccione</mat-option>
                  <mat-option *ngFor="let mes of meses" [value]="mes">
                    {{mes}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field style="width: 50%">
                <mat-select placeholder="Año"  name="food">
                  <mat-option>seleccione</mat-option>
                  <mat-option *ngFor="let anio of anios" [value]="anio">
                    {{anio}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">CVV</label>
              <mat-form-field  style="width:100%">
                <input matInput placeholder="codigo de segurida" >
              </mat-form-field>
            </div>
          </div>
          <hr class="mb-4">
          <button mat-raised-button color="primary" style="font-family: 'Poppins', sans-serif;width: 100%;border:none;display: block;height: 57px;background-color: #050505;">Continunar con el pago</button>

        </form>
      </div>
    </div>
      <!--FINALIZA CHECKOUT-->

  </div>
</section>
